/* @font-face {
    font-family: fontawesome-webfont;
    src: url(fonts/fontawesome-webfont.woff) format('woff')
}

@font-face {
    font-family: themify;
    src: url(fonts/themify.woff) format('woff');
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.leopet-logo-bar {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leopet-contact {
    display: flex;
    gap: 30px;
    align-items: center;
}

.leopet-contact a{
    text-decoration: none;
    color: rgb(85, 83, 83);
    font: 16px fredoka;
}

.logo-bar-button {
    width: 220px;
    border: none;
    padding: 16px;
    border-radius: 30px;
    background-color: rgba(250, 40, 40, 0.76);
    color: white;
    font: 16px fredoka;
}

.logo-bar-button:hover {
    background-color: rgb(79, 214, 214);
}

.leopet-nav-bar {
    width: 100%;
    height: 70px;
    background-color: #082849;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leopet-nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}


.leopet-nav-bar a {
    text-decoration: none;
    color: white;
   font: 18px fredoka;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0 27px;
}

.dropdown-content {
    opacity: 0;
    position: absolute;
    background-color: white;
    /* min-height: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    width: auto;
   transition: all 0.5s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(25px);
}
.dropdown-content a {
    color: rgb(79, 214, 214);
    padding: 10px 28px;
    text-decoration: none;
    display: block;
    min-width: 155px;
}

.dropdown-content a:hover {
    background-color: rgb(243, 83, 83);
   
}


.banner-bg{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/img/banner_bg.png);
} 

/* .banner-bg {
    max-width: 100%;
} */

.hero-section {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 18%;
    width: 500px;
}

.hero-section-paragraph {
    color: rgb(243, 83, 83);
    font: 24px roboto;
    margin: 5px 0;
}


.hero-section-header {
    font: 72px fredoka;
    color: #082849;
}

h1 {
    font: 42px fredoka;
    color: #082849;
}

.button {
    width: 200px;
    border: none;
    padding: 16px;
    border-radius: 30px;
    background-color:  rgb(79, 214, 214);
    color: white;
    font: 16px fredoka;
    margin: 30px 0;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(243, 83, 83);
}

.about-us-section {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}


.about-us-content {
    width: 400px;
}

.about-us-header {
    padding: 20px 0;
}

p {
    font: 14px roboto;
    color: gray;
}

.about-us-paragraph {
    line-height: 25px;
}

.services-bg-img {
    max-width: 100%;
}

.services-bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/img/services_bg.png);
} 

.services-section {
    /* text-align: center; */
    position: relative;
}

.services-content {
    position: absolute;
    text-align: center;
    top: 7%;
    left: 5%;
    /* width: 1000px; */
}

.services-imgs {
    display: flex;
    /* align-items: center;
    justify-content: center */
}

.services-section h1{
    padding: 30px;
}

.services-section p {
    padding-bottom: 30px;
    line-height: 30px;
}

.services-imgs h1 {
    font-size: 34px;
}

.adopt-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: relative;
    top: -30%; */
}

.adopt-icons {
    display: flex;
    gap: 50px;
}

.adopt-content {
    width: 400px;
}

.adopt-header {
    padding: 30px 0;
}

.adopt-paragraph {
    padding-bottom: 30px;
    line-height: 30px;
}

.adopt-icons h1 {
    padding: 10px 0;
}

.adopt-content .button {
    margin: 50px 0;
    width: 150px;
}

/* .review-bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/img/review_bg.png);
    position: relative;
    top: -50%;
}  */

/* .review-section {
    position: relative;
    top: -50%;
} */

/* .review-bg {
    max-width: 100%;
} */

.review-section{
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.397),rgba(255, 255, 255, 0.5)),url(../css/img/review_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-position: 30px;
}

.review-section {
    position: relative;
}


.review-content {
    text-align: center;
    position: absolute;
    max-width: 800px;
    top: 30%;
    left: 25%;
}

.review-content h3 {
    padding: 30px;
    color: #082849;
    font: 32px fredoka;
    font-weight: 200;
}

.review-content p {
    color: #333;

}

.volunteer-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.volunteer-content {
    width: 400px;
}

.volunteer-header{
    padding: 20px 0;
}

.volunteer-content p{
    line-height: 25px;
}

.footer-bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/img/footer_bg.png);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer-content {
    position: absolute;
    top: 15%;
    left: 10%; 
    text-align: center;
}

.footer-header {
    color: white;
    font: 36px fredoka;
    font-weight: 300;
}

.footer-paragraph {
    padding: 20px 0;
    color: white;
    font-weight: 300;
}

.footer-email {
    width: 300px;
    background-color: whitesmoke;
    padding: 28px;
    border-radius: 5px 0 0 5px;
    color: #555;
    border: none;
}

.footer-btn {
    width: 150px;
    background-color: rgb(243, 83, 83);
    padding: 28px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    position: relative;
    cursor: pointer; 
    margin: 30px 0;
    left: -1%

}

.footer-grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    gap: 100px;
}

.footer-grid-container a{
    text-decoration: none;
    color: white;
    font: 16px fredoka;
    font-weight: 200;
    padding: 10px 0;
}

.footer-grid-item-1,.footer-grid-item-2,.footer-grid-item-3,.footer-grid-item-4 {
    display: flex;
    flex-direction: column;
}

.footer-grid-container {
    margin: 50px 0;
}
.footer-grid-container p {
    color: white;
    font: 18px fredoka;
}

.footer-line {
    border-bottom: 1px solid white;
    width: 1000px;
   position: relative;
   left: 10%;
   margin-top: 50px;
}

.footer-flex-text {
    display: flex;
    justify-content: space-around;
    margin: 100px;
} 